$backgroundColor: #060a3d;
$color1: #fff;
$color2: #868aaf;
$color3: #db3bba;
$color3-dark: darken($color3, 10%);
$color3-darker: darken($color3, 30%);
$color4: #0025f1;

* {
  margin: 0;
  padding: 0;
}

#player {
  height: 100vh;
  overflow: hidden;
  background: $backgroundColor;
  .header {
    text-align: center;
    height: 110px;
    h1 {
      padding-top: 20px;
      color: $color1;
      font-size: 25px;
      margin-bottom: 5px;
    }
    p {
      color: $color2;
      font-size: 14px;
    }
    .balls {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      span {
        display: block;
        width: 5px;
        height: 5px;
        background: $color3-darker;
        border-radius: 50%;
        margin: 0 4px;

        &.current {
          //&指的是既是span,又是current.不加&的话就是span里面的.current
          width: 8px;
          height: 8px;
          background: $color3;
        }
      }
    }
  }
  .panels {
    width: 200vw;
    display: flex;
    height: calc(100vh - 260px);
    align-items: center;
    transition: transform 0.3s;
    &.panel1 {
      transform: translateX(0vw);
    }
    &.panel2 {
      transform: translateX(-100vw);
    }

    .panel-effect {
      width: 100vw;
      height: 100%;
      .effect {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;

        div {
          background-size: contain;
          position: absolute;
        }

        .effect1 {
          background: url(../svg/effect-no-move.svg) 0 0 no-repeat;
          width: 70vw;
          height: 70vw;
          animation: rotate 20s linear infinite;
        }
        .effect2 {
          background: url(../svg/effect-move1.svg) 0 0 no-repeat;
          width: 60vw;
          height: 60vw;
          animation: rotate 10s linear infinite reverse;
        }
        .effect3 {
          background: url(../svg/effect-move2.svg) 0 0 no-repeat;
          width: 25vw;
          height: 25vw;
          animation: rotate 5s linear infinite;
        }
      }
      .lyric {
        text-align: center;

        p {
          font-size: 13px;
          color: $color2;
          margin-top: 10px;

          &.current {
            color: $color1;
          }
        }
      }
    }
    .panel-lyrics {
      width: 100vw;
      height: 100%;
      background: red;
    }
  }
  .footer {
    height: 150px;
    .buttons {
      display: flex;
      justify-content: center;

      svg {
        width: 24px;
        height: 24px;
        margin: 0 20px;
      }
    }
    .bar-area {
      color: $color2;
      font-size: 12px;
      display: flex;
      padding: 0 20px;
      margin-top: 20px;
      align-items: center;
      .time-start {
        order: 1;
      }
      .time-end {
        order: 3;
      }
      .bar {
        order: 2;
        flex: 1;
        height: 4px;
        background: $color4;
        border-radius: 2px;
        margin: 0 10px;
        .progress {
          width: 30%;
          height: 100%;
          border-radius: 2px;
          background: $color3;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -7px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../svg/progress.svg) 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 20px;
      svg {
        width: 28px;
        height: 28px;
        &.btn-play-pause {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
